h1 {
    color: green;
  }

ul,li  {
    color: orange;
  }

.special {
    color: red;
    font-weight: bold;
} 
body {
    background-image: url(darksouls.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.sen {
    border: solid ;
}
 
h1 {
    text-align: center;
} 